body {
    font-family: Arial, sans-serif;
}

button {
    cursor: pointer;
}
.cart-item {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

#total-price {
  margin-top: 40px;
  font-weight: bold;
  margin-left: 100px;
}
